<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Message</title>
</head>
<body>
    <h3>Update Message</h3>
    <form  method="post" action="/edit/{{data.id}}">
        {% csrf_token %}
        <table>
            <tr>
                <td>Enter Name: </td>
                <td><input type="text" value="{{data.name}}" name="uname" placeholder="Sender name"/></td>
            </tr>
            <tr>
                <td>Email Id : </td>
                <td><input type="email" value="{{data.email}}" name="uemail" placeholder="Sender email id"/></td>
            </tr>
            <tr>
                <td>Mobile number: </td>
                <td><input type="number" value="{{data.mobile}}" name="mob" placeholder="Sender mobile number"/></td>
            </tr>
            <tr>
                <td>Message: </td>
                <td><textarea name="msg" cols="21" rows="5">{{data.msg}}</textarea></td>
            </tr>
            <tr>
                <td><input type="submit" value="Send"/></td>
                
            </tr>
        </table>
    </form>
</body>
</html>